<div class="row">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <a type="button" class="btn btn-info" href="#createCustomer">+ customer</a>
    </div>
    <div class="btn-group" role="group">
      <a type="button" class="btn btn-warning" href="#createProduct">+ product</a>
    </div>
    <div class="btn-group" role="group">
      <a type="button" class="btn btn-success" href="#createSale">+ sale</a>
    </div>
  </div>
</div>
