<form role="form" ng-submit="create()" ng-controller="customerCreateController">
  <div>
    <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong>
    </div>
    <div class="form-group">
      <label for="InputName">Enter Customer Name</label>
      <div class="input-group">
        <input type="text" ng-model="customer.name" class="form-control" name="InputName" id="InputName" placeholder="Customer Name"
               required>
        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
      </div>
    </div>
    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
  </div>
</form>
