<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <ng-include src="'/templates/partials/createMenu.html'" ></ng-include>
          <create-menu></create-menu>
        </div>
      </div>
      <div ng-view></div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
